<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wuhan2020.huoshenshan.dao.QuestionModelMapper">
  <resultMap id="BaseResultMap" type="org.wuhan2020.huoshenshan.entity.QuestionModel">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="question_content" jdbcType="VARCHAR" property="questionContent" />
    <result column="question_select_model" jdbcType="VARCHAR" property="questionSelectModel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="org.wuhan2020.huoshenshan.entity.QuestionModel">
    insert into question_model (id, group_id, question_id,
      question_content, question_select_model, create_time,
      update_time)
    values (#{id,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER},
      #{questionContent,jdbcType=VARCHAR}, #{questionSelectModel,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.wuhan2020.huoshenshan.entity.QuestionModel">
    insert into question_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="questionId != null">
        question_id,
      </if>
      <if test="questionContent != null">
        question_content,
      </if>
      <if test="questionSelectModel != null">
        question_select_model,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="questionId != null">
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="questionContent != null">
        #{questionContent,jdbcType=VARCHAR},
      </if>
      <if test="questionSelectModel != null">
        #{questionSelectModel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="getQuestionModel" parameterType="org.wuhan2020.huoshenshan.entity.QuestionModel" resultMap="BaseResultMap">
    select * from question_model
    <where>
      question_id = #{questionId,jdbcType=BIGINT}
      and
      group_id = #{groupId,jdbcType=BIGINT}
    </where>
  </select>

  <select id="getQuestionModelList" parameterType="org.wuhan2020.huoshenshan.entity.QuestionModel" resultMap="BaseResultMap">
    select * from question_model
    <where>
      group_id = #{groupId,jdbcType=BIGINT}
    </where>
  </select>
</mapper>
